In [2]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [3]:
# API 이용하기
year_s = 2021
year_e = 2021
station_code = 146
url = f"https://api.taegon.kr/stations/{station_code}/?sy={year_s}&ey={year_e}&format=csv"

# 데이터 프레임 만들기
df21 = pd.read_csv(url)
df21.head()

,year,month,day,tmax,tavg,tmin,humid,wind,sunshine,rainfall,snow,cloud
0,2021,1,1,3.4,-1.6,-7.5,70.8,1.6,5.9,0.0,2.8,3.8
1,2021,1,2,1.3,-1.3,-3.6,57.8,2.0,7.8,0.0,0.1,2.8
2,2021,1,3,1.4,-2.1,-5.7,56.0,1.0,3.7,0.0,0.0,7.3
3,2021,1,4,5.0,-0.2,-6.0,64.0,0.9,5.4,0.0,0.0,3.9
4,2021,1,5,3.9,-1.4,-6.3,61.9,2.4,5.3,0.0,0.0,5.3

In [4]:
# API 이용하기
year_s = 2022
year_e = 2022
station_code = 146
url = f"https://api.taegon.kr/stations/{station_code}/?sy={year_s}&ey={year_e}&format=csv"

# 데이터 프레임 만들기
df22 = pd.read_csv(url)
df22.head()

,year,month,day,tmax,tavg,tmin,humid,wind,sunshine,rainfall,snow,cloud
0,2022,1,1,2.7,-2.7,-8.9,52.5,0.8,6.9,0.0,0.0,4.4
1,2022,1,2,6.6,0.3,-4.2,59.8,1.3,5.1,0.0,0.0,2.1
2,2022,1,3,3.8,-0.7,-5.6,66.9,1.2,8.9,0.0,0.0,1.1
3,2022,1,4,5.2,0.8,-2.5,55.3,1.6,8.8,0.0,0.0,2.9
4,2022,1,5,3.3,0.1,-3.7,49.8,0.6,0.7,0.0,0.0,9.0

In [5]:
# API 이용하기
year_s = 2023
year_e = 2023
station_code = 146
url = f"https://api.taegon.kr/stations/{station_code}/?sy={year_s}&ey={year_e}&format=csv"

# 데이터 프레임 만들기
df23 = pd.read_csv(url)
df23.head()

,year,month,day,tmax,tavg,tmin,humid,wind,sunshine,rainfall,snow,cloud
0,2023,1,1,5.9,0.6,-3.0,62.0,1.6,6.7,0.0,0.0,2.8
1,2023,1,2,2.0,-1.8,-4.0,53.1,1.5,9.2,0.0,0.0,3.1
2,2023,1,3,2.9,-2.1,-7.2,65.5,1.6,9.3,0.0,0.0,0.0
3,2023,1,4,5.6,0.0,-5.4,66.0,1.5,7.8,0.0,0.0,1.3
4,2023,1,5,7.7,2.4,-2.6,70.3,1.1,6.2,0.0,0.0,5.3

In [6]:
df23.columns

Index(['year', ' month', ' day', ' tmax', ' tavg', ' tmin', ' humid', ' wind',
       ' sunshine', ' rainfall', ' snow', ' cloud'],
      dtype='object')

In [ ]:
pear_result = pd.DataFrame({'location', ''})

## DVR

In [7]:
df23 = df23[:][25:]
df23

,year,month,day,tmax,tavg,tmin,humid,wind,sunshine,rainfall,snow,cloud
25,2023,1,26,2.8,-2.0,-8.7,70.0,1.6,0.0,0.1,0.0,9.5
26,2023,1,27,-0.6,-4.2,-6.9,57.0,2.8,8.3,0.0,0.0,1.4
27,2023,1,28,-0.6,-4.6,-9.4,68.4,1.1,4.4,0.0,0.0,3.6
28,2023,1,29,5.5,0.6,-6.0,66.3,2.4,7.8,0.0,0.0,2.6
29,2023,1,30,5.6,0.3,-4.0,51.6,1.6,9.5,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
359,2023,12,27,9.0,4.1,1.1,75.8,1.1,8.5,0.0,0.0,2.3
360,2023,12,28,7.4,2.8,-1.0,79.1,1.2,7.6,0.0,0.0,0.3
361,2023,12,29,7.9,2.6,-1.1,75.1,1.3,6.5,0.0,0.0,1.9
362,2023,12,30,9.1,4.0,-1.3,78.8,1.2,0.5,1.1,0.0,7.1
363,2023,12,31,9.1,5.8,4.0,81.5,2.9,0.0,1.9,0.0,9.4

In [8]:
df23

,year,month,day,tmax,tavg,tmin,humid,wind,sunshine,rainfall,snow,cloud
25,2023,1,26,2.8,-2.0,-8.7,70.0,1.6,0.0,0.1,0.0,9.5
26,2023,1,27,-0.6,-4.2,-6.9,57.0,2.8,8.3,0.0,0.0,1.4
27,2023,1,28,-0.6,-4.6,-9.4,68.4,1.1,4.4,0.0,0.0,3.6
28,2023,1,29,5.5,0.6,-6.0,66.3,2.4,7.8,0.0,0.0,2.6
29,2023,1,30,5.6,0.3,-4.0,51.6,1.6,9.5,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
359,2023,12,27,9.0,4.1,1.1,75.8,1.1,8.5,0.0,0.0,2.3
360,2023,12,28,7.4,2.8,-1.0,79.1,1.2,7.6,0.0,0.0,0.3
361,2023,12,29,7.9,2.6,-1.1,75.1,1.3,6.5,0.0,0.0,1.9
362,2023,12,30,9.1,4.0,-1.3,78.8,1.2,0.5,1.1,0.0,7.1
363,2023,12,31,9.1,5.8,4.0,81.5,2.9,0.0,1.9,0.0,9.4

In [9]:
# 배 모델
A = 107.94
B = 0.9

# DVRi
df23['DVRi'] = df23[' tavg'].apply(lambda x: (1 / (107.94 * (0.9 ** x))) * 100 if x >= 5 else 0)

# DVS
df23['DVS'] = df23['DVRi'].cumsum()

# DVS가 100일때가 언제인지?
result = df23[df23['DVS'] > 100].iloc[0][['year', ' month', ' day']]
blossom = f'{int(result["year"])}년 {int(result[" month"])}월 {int(result[" day"])}일'

blossom

'2023년 4월 2일'

## mDVR

In [10]:
# API 이용하기
year_s = 2023
year_e = 2023
station_code = 146
url = f"https://api.taegon.kr/stations/{station_code}/?sy={year_s}&ey={year_e}&format=csv"

# 데이터 프레임 만들기
df23 = pd.read_csv(url)
df23.head()

,year,month,day,tmax,tavg,tmin,humid,wind,sunshine,rainfall,snow,cloud
0,2023,1,1,5.9,0.6,-3.0,62.0,1.6,6.7,0.0,0.0,2.8
1,2023,1,2,2.0,-1.8,-4.0,53.1,1.5,9.2,0.0,0.0,3.1
2,2023,1,3,2.9,-2.1,-7.2,65.5,1.6,9.3,0.0,0.0,0.0
3,2023,1,4,5.6,0.0,-5.4,66.0,1.5,7.8,0.0,0.0,1.3
4,2023,1,5,7.7,2.4,-2.6,70.3,1.1,6.2,0.0,0.0,5.3

In [11]:
df23 = df23[:][45:]
df23

,year,month,day,tmax,tavg,tmin,humid,wind,sunshine,rainfall,snow,cloud
45,2023,2,15,8.5,3.0,-2.0,65.1,1.0,2.6,0.0,0.0,7.6
46,2023,2,16,6.3,3.3,-0.5,69.0,1.2,0.3,0.0,0.0,6.4
47,2023,2,17,7.4,4.2,-1.1,60.0,0.8,0.4,0.0,0.0,9.0
48,2023,2,18,10.0,7.2,5.3,61.1,0.7,0.0,0.9,0.0,10.0
49,2023,2,19,6.3,3.2,-0.7,73.8,2.8,5.1,2.9,0.0,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...
359,2023,12,27,9.0,4.1,1.1,75.8,1.1,8.5,0.0,0.0,2.3
360,2023,12,28,7.4,2.8,-1.0,79.1,1.2,7.6,0.0,0.0,0.3
361,2023,12,29,7.9,2.6,-1.1,75.1,1.3,6.5,0.0,0.0,1.9
362,2023,12,30,9.1,4.0,-1.3,78.8,1.2,0.5,1.1,0.0,7.1
363,2023,12,31,9.1,5.8,4.0,81.5,2.9,0.0,1.9,0.0,9.4

In [26]:
import numpy as np

df23['tmax_yesterday'] = df23[' tmax'].shift(1)  # 전날의 최고기온
df23['tmin_tomorrow'] = df23[' tmin'].shift(-1)  # 다음날의 최저기온

# 시간대별 온도 계산하는 함수
def calculate_hourly_temperature(row, hour):
    m = row[' tmin']  # 현재의 최저기온
    h = row[' tmax']  # 현재의 최고기온
    hy = row['tmax_yesterday']  # 전날의 최고기온
    mt = row['tmin_tomorrow']  # 다음날의 최저기온

    if 0 <= hour <= 3:
        return (hy - m) * (np.sin((4 - hour) * np.pi / 30) ** 2) + m
    elif 4 <= hour <= 13:
        return (h - m) * (np.sin((hour - 4) * np.pi / 18) ** 2) + m
    elif 14 <= hour <= 23:
        return (h - mt) * (np.sin((28 - hour) * np.pi / 30) ** 2) + mt
    else:
        return np.nan

# 각 시간별로 온도를 계산하여 새로운 컬럼 추가
for hour in range(24):
    df23[f'temp_{hour}h'] = df23.apply(lambda row: calculate_hourly_temperature(row, hour), axis=1)

# 결과 출력
df23[['year', ' month', ' day', ' tmax', ' tmin'] + [f'temp_{i}h' for i in range(24)]]

for i in range(24):
    df23[f'temp_{i}h'] = df23[f'temp_{i}h'].apply(
        lambda x: np.exp(35.27 - 12094 * (x + 273) ** -1) if x < 20 else np.exp(5.82 - 3474 * (x + 273) ** -1))
df23['cumsum_temp'] = df23.loc[:, 'temp_0h':'temp_23h'].sum(axis=1)
df23['cumsum_dvr2'] = df23['cumsum_temp'].cumsum()

result = df23[df23['cumsum_dvr2'] >= 0.9593].iloc[0]
blossom = f'{int(result["year"])}년 {int(result[" month"])}월 {int(result[" day"])}일'

blossom

,year,month,day,tmax,tmin,temp_0h,temp_1h,temp_2h,temp_3h,temp_4h,...,temp_14h,temp_15h,temp_16h,temp_17h,temp_18h,temp_19h,temp_20h,temp_21h,temp_22h,temp_23h
45,2023,2,15,8.5,-2.0,NaN,NaN,NaN,NaN,-2.0,...,8.401664,8.110955,7.640576,7.011088,6.250,5.390576,4.470378,3.529622,2.609424,1.750
46,2023,2,16,6.3,-0.5,0.988912,0.359424,-0.110955,-0.401664,-0.5,...,6.219146,5.980118,5.593363,5.075783,4.450,3.743363,2.986755,2.213245,1.456637,0.750
47,2023,2,17,7.4,-1.1,0.124217,-0.393363,-0.780118,-1.019146,-1.1,...,7.377055,7.309223,7.199468,7.052587,6.875,6.674468,6.459755,6.240245,6.025532,5.825
48,2023,2,18,10.0,5.3,5.647413,5.500532,5.390777,5.322945,5.3,...,9.883090,9.537468,8.978241,8.229849,7.325,6.303241,5.209227,4.090773,2.996759,1.975
49,2023,2,19,6.3,-0.7,1.070151,0.321759,-0.237468,-0.583090,-0.7,...,6.196201,5.889341,5.392831,4.728370,3.925,3.017831,2.046510,1.053490,0.082169,-0.825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,2023,12,27,9.0,1.1,2.208412,1.739793,1.389623,1.173206,1.1,...,8.890738,8.567727,8.045085,7.345653,6.500,5.545085,4.522642,3.477358,2.454915,1.500
360,2023,12,28,7.4,-1.0,0.654347,-0.045085,-0.567727,-0.890738,-1.0,...,7.307127,7.032568,6.588322,5.993805,5.275,4.463322,3.594246,2.705754,1.836678,1.025
361,2023,12,29,7.9,-1.1,0.306195,-0.288322,-0.732568,-1.007127,-1.1,...,7.799479,7.502309,7.021478,6.378001,5.600,4.721478,3.780831,2.819169,1.878522,1.000
362,2023,12,30,9.1,-1.3,0.221999,-0.421478,-0.902309,-1.199479,-1.3,...,9.044276,8.879541,8.612993,8.256283,7.825,7.337993,6.816548,6.283452,5.762007,5.275
363,2023,12,31,9.1,4.0,4.843717,4.487007,4.220459,4.055724,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,year,month,day,tmax,tmin,temp_0h,temp_1h,temp_2h,temp_3h,temp_4h,...,temp_14h,temp_15h,temp_16h,temp_17h,temp_18h,temp_19h,temp_20h,temp_21h,temp_22h,temp_23h
45,2023,2,15,8.5,-2.0,NaN,NaN,NaN,NaN,-2.0,...,8.401664,8.110955,7.640576,7.011088,6.250,5.390576,4.470378,3.529622,2.609424,1.750
46,2023,2,16,6.3,-0.5,0.988912,0.359424,-0.110955,-0.401664,-0.5,...,6.219146,5.980118,5.593363,5.075783,4.450,3.743363,2.986755,2.213245,1.456637,0.750
47,2023,2,17,7.4,-1.1,0.124217,-0.393363,-0.780118,-1.019146,-1.1,...,7.377055,7.309223,7.199468,7.052587,6.875,6.674468,6.459755,6.240245,6.025532,5.825
48,2023,2,18,10.0,5.3,5.647413,5.500532,5.390777,5.322945,5.3,...,9.883090,9.537468,8.978241,8.229849,7.325,6.303241,5.209227,4.090773,2.996759,1.975
49,2023,2,19,6.3,-0.7,1.070151,0.321759,-0.237468,-0.583090,-0.7,...,6.196201,5.889341,5.392831,4.728370,3.925,3.017831,2.046510,1.053490,0.082169,-0.825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,2023,12,27,9.0,1.1,2.208412,1.739793,1.389623,1.173206,1.1,...,8.890738,8.567727,8.045085,7.345653,6.500,5.545085,4.522642,3.477358,2.454915,1.500
360,2023,12,28,7.4,-1.0,0.654347,-0.045085,-0.567727,-0.890738,-1.0,...,7.307127,7.032568,6.588322,5.993805,5.275,4.463322,3.594246,2.705754,1.836678,1.025
361,2023,12,29,7.9,-1.1,0.306195,-0.288322,-0.732568,-1.007127,-1.1,...,7.799479,7.502309,7.021478,6.378001,5.600,4.721478,3.780831,2.819169,1.878522,1.000
362,2023,12,30,9.1,-1.3,0.221999,-0.421478,-0.902309,-1.199479,-1.3,...,9.044276,8.879541,8.612993,8.256283,7.825,7.337993,6.816548,6.283452,5.762007,5.275
363,2023,12,31,9.1,4.0,4.843717,4.487007,4.220459,4.055724,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
for i in range(24):
    df23[f'temp_{i}h'] = df23[f'temp_{i}h'].apply(
        lambda x: np.exp(35.27 - 12094 * (x + 273) ** -1) if x < 20 else np.exp(5.82 - 3474 * (x + 273) ** -1))
df23['cumsum_temp'] = df23.loc[:, 'temp_0h':'temp_23h'].sum(axis=1)
df23['cumsum_dvr2'] = df23['cumsum_temp'].cumsum()

result = df23[df23['cumsum_dvr2'] >= 0.9593].iloc[0]
blossom = f'{int(result["year"])}년 {int(result[" month"])}월 {int(result[" day"])}일'

blossom

'2023년 4월 6일'

## CD

In [27]:
# API 이용하기
year_s = 2023
year_e = 2024
station_code = 146
url = f"https://api.taegon.kr/stations/{station_code}/?sy={year_s}&ey={year_e}&format=csv"

# 데이터 프레임 만들기
df23 = pd.read_csv(url)
df23.head()

,year,month,day,tmax,tavg,tmin,humid,wind,sunshine,rainfall,snow,cloud
0,2023,1,1,5.9,0.6,-3.0,62.0,1.6,6.7,0.0,0.0,2.8
1,2023,1,2,2.0,-1.8,-4.0,53.1,1.5,9.2,0.0,0.0,3.1
2,2023,1,3,2.9,-2.1,-7.2,65.5,1.6,9.3,0.0,0.0,0.0
3,2023,1,4,5.6,0.0,-5.4,66.0,1.5,7.8,0.0,0.0,1.3
4,2023,1,5,7.7,2.4,-2.6,70.3,1.1,6.2,0.0,0.0,5.3

In [17]:
df23 = df23[:][45:]
df23

,year,month,day,tmax,tavg,tmin,humid,wind,sunshine,rainfall,snow,cloud
45,2023,2,15,8.5,3.0,-2.0,65.1,1.0,2.6,0.0,0.0,7.6
46,2023,2,16,6.3,3.3,-0.5,69.0,1.2,0.3,0.0,0.0,6.4
47,2023,2,17,7.4,4.2,-1.1,60.0,0.8,0.4,0.0,0.0,9.0
48,2023,2,18,10.0,7.2,5.3,61.1,0.7,0.0,0.9,0.0,10.0
49,2023,2,19,6.3,3.2,-0.7,73.8,2.8,5.1,2.9,0.0,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...
359,2023,12,27,9.0,4.1,1.1,75.8,1.1,8.5,0.0,0.0,2.3
360,2023,12,28,7.4,2.8,-1.0,79.1,1.2,7.6,0.0,0.0,0.3
361,2023,12,29,7.9,2.6,-1.1,75.1,1.3,6.5,0.0,0.0,1.9
362,2023,12,30,9.1,4.0,-1.3,78.8,1.2,0.5,1.1,0.0,7.1
363,2023,12,31,9.1,5.8,4.0,81.5,2.9,0.0,1.9,0.0,9.4

In [18]:
# Tc와 Hr 값 설정
Tc = 5.4
Hr = 272

# 계산 함수 정의
def calculate_cd(row, Tc):
    tmin = row[' tmin']
    tmax = row[' tmax']
    tavg = row[' tavg']

    # 조건 1: Tc가 tmin과 tmax 사이에 있을 때
    if 0 <= Tc <= tmin <= tmax:
        return tavg - Tc

    # 조건 2: tmin <= Tc <= tmax (Tc가 tmin과 tmax 사이에 있을 때)
    elif 0 <= tmin <= Tc <= tmax:
        return (tmax - Tc) / 2

    # 조건 3: tmin과 tmax가 모두 Tc 이하일 때
    elif 0 <= tmin <= tmax <= Tc:
        return 0

    # 조건 4: tmin이 0 이하이고 tmax가 Tc 이하일 때
    elif tmin <= 0 <= tmax <= Tc:
        return 0

    # 조건 5: tmin이 0 이하이고 Tc가 tmax보다 작을 때
    elif tmin <= 0 <= Tc <= tmax:
        return (tmax - Tc) / 2

    # 그 외의 경우
    else:
        return 0

# 데이터프레임의 각 행에 대해 위 함수를 적용
df23['cd'] = df23.apply(lambda row: calculate_cd(row, Tc), axis=1)

# 누적 합계 계산
df23['cumsum_cd'] = df23['cd'].cumsum()

# Hr 이상이 되는 첫 번째 시점의 결과 추출
result = df23[df23['cumsum_cd'] >= Hr].iloc[0]
blossom = f'{int(result["year"])}년 {int(result[" month"])}월 {int(result[" day"])}일'

# 결과 출력
print(blossom)

2023년 4월 5일

## Streamlit 시각화
- [배] 20년간 추이 분석 2004-2024, [전주]에서만
- [포도] 20년간 추이 분석 2004-2024, [김제, 화성, 완주, 거창, 상주, 천안, 춘천, 옥천]

In [22]:
latlon = pd.read_csv('korea_administrative_division_latitude_longitude.csv')
latlon

      docity  do   city   longitude   latitude
0      강원강릉시  강원    강릉시  128.878497  37.749136
1      강원고성군  강원    고성군  128.470164  38.377961
2      강원동해시  강원    동해시  129.116633  37.521931
3      강원삼척시  강원    삼척시  129.167489  37.447086
4      강원속초시  강원    속초시  128.594167  38.204275
..       ...  ..    ...         ...        ...
290    충청충주시  충청    충주시  127.928144  36.988181
291    충청태안군  충청    태안군  126.299975  36.742667
292  충청한누리대로  충청  한누리대로  127.289926  36.485450
293    충청홍성군  충청    홍성군  126.662908  36.598361
294    충청대전시  충청    대전시  127.384862  36.350629

[295 rows x 5 columns]

In [24]:
grapeloc = ['김제시', '화성시', '완주군', '거창군', '상주시', '천안시', '춘천시', '옥천군']

drop_indices = []

for index, row in latlon.iterrows():
    if row['city'] not in grapeloc:
        drop_indices.append(index)

latlon.drop(drop_indices, axis=0, inplace=True)

latlon

    docity  do city   longitude   latitude
12   강원춘천시  강원  춘천시  127.732311  37.878542
51   경기화성시  경기  화성시  126.833531  37.196817
54   경상거창군  경상  거창군  127.911656  35.683625
72   경상상주시  경상  상주시  128.161264  36.407969
185  전라김제시  전라  김제시  126.882753  35.800575
201  전라완주군  전라  완주군  127.149597  35.842969
276  충청옥천군  충청  옥천군  127.573633  36.303550
286  충청천안시  충청  천안시  127.152467  36.804125

In [25]:
import streamlit as st
from streamlit_folium import folium_static
import folium
from folium.plugins import MarkerCluster
import pandas as pd

m = folium.Map(location=[36.350412, 127.384548], zoom_start=13)

marker_cluster = MarkerCluster().add_to(m)

for idx, row in latlon.iterrows():
    folium.Marker(
        location=[row["latitude"], row["longitude"]],
        popup=row["city"],
    ).add_to(marker_cluster)


folium_static(m)

2024-10-03 10:41:20.126 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
/var/folders/pt/xk6c0b5907z_9txgpjnm7d000000gn/T/ipykernel_62780/985843422.py:18: DeprecationWarning:
folium_static is deprecated and will be removed in a future release, or
simply replaced with with st_folium which always passes
returned_objects=[] to the component.
Please try using st_folium instead, and
post an issue at https://github.com/randyzwitch/streamlit-folium/issues
if you experience issues with st_folium.

  folium_static(m)
2024-10-03 10:41:20.141 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-03 10:41:20.170
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/ipykernel_launcher.py [ARGUMENTS]
2024-10-03 10:41:20.171 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/pt/xk6c0b5907z_9txgpjnm7d000000gn/T/ipykernel_29710/1775266183.py", line 2, in <module>
    result = df23[df23['cumsum_cd'] >= Hr].iloc[0]
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/pandas/core/ops/common.py", line 76, in new_method
    return method(self, other)
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/pandas/core/arraylike.py", line 60, in __ge__
    return self._cmp_method(other, operator.ge)
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/pandas/core/series.py", line 6110, in _cmp_method
    res_values = ops.comparison_op(lvalues, rvalues, op)
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/pandas/core/ops/array_ops.py", line 344, in comparison_op
    res_values = comp_method_OBJECT_ARRAY(op, lvalues, rvalues)
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/pandas/core/ops/array_ops.py", line 129, in comp_method_OBJECT_ARRAY
    result = libops.scalar_compare(x.ravel(), y, op)
  File "ops.pyx", line 107, in pandas._libs.ops.scalar_compare
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/pandas/core/generic.py", line 1576, in __nonzero__
    raise ValueError(
ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1063, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1155, in get_records
    FrameInfo(
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/site-packages/IPython/core/ultratb.py", line 780, in __init__
    ix = inspect.getsourcelines(frame)
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/inspect.py", line 1006, in getsourcelines
    lines, lnum = findsource(object)
  File "/Users/sola/opt/anaconda3/envs/DBprj/lib/python3.9/inspect.py", line 827, in findsource
    raise OSError('source code not available')
OSError: source code not available